body::before {
  content: "";
  background: url(../public/images/boom.png);
  position: absolute;
  background-position: center;
  top: 0;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  z-index: -1;
  background-size: cover;
}

.homeSection-Container {
  height: 500px;

  /* background: #DADDFC;  */
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Hahmlet", serif;
}

.homeSection-Container h1 {
  font-size: 5em;
  text-transform: capitalize;
  font-weight: 600;
  color: white;
  font-family: "Noto Sans Display", sans-serif;
  border-bottom: 1px solid white;
}

.homeSection-Container h3 {
  font-size: 3em;
  /* color: wheat; */

  filter: drop-shadow(0px 0px 2px white);
}

.homeSection-Container h5 {
  font-size: 1.2em;
  font-weight: bolder;
  /* color: wheat; */
  filter: drop-shadow(0px 0px 2px white);
}

.homeSection-Container p {
  text-transform: capitalize;
}

.homeSection-Container button {
  margin-top: 23px;
  border: none;
  width: 164px;
  height: 36px;
  -webkit-filter: drop-shadow(2px 4px 3px black);
  filter: drop-shadow(2px 4px 3px black);
}
.homeSection-Container  button:hover{
  background: black;
  color: #efefef;
  transform: scale(1.1);
}

.luxary {
  font-family: "Beau Rivage", cursive;
  font-weight: bolder;
  letter-spacing: 2px;
}
.introAfterHome {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 165px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.introAfterHome h3 {
  line-height: 2.2;
  font-size: 1.25em;
  border-bottom: 1px solid;
  /* border-bottom-style: ridge; */
}

.introAfterHome h2 {
  line-height: 1.5;
  font-size: 2em;
  font-weight: 900;
  width: 1000px;

  /* width: 298px; */
}

.introAfterHome p {
  line-height: 2.2;
  width: 1000px;
  font-size: 14px;
  font-weight: 100;
  margin: 0 65px;
}


.introAfterHome button {
  width: 104px;
  height: 35px;
  border: none;
  margin-top: 21px;
  -webkit-filter: drop-shadow(2px 4px 3px black);
  filter: drop-shadow(2px 4px 3px black);
}

.introAfterHome-para {
  margin-bottom: 9px;
}

.offers {
  padding-top: 163px;
}

.offers .offer-card {
  width: 512px;
}

#offer-img {
  transition: all 0.2s ease-in-out;
}

#offer-img:hover {
  transform: scale(1.1);
}

.offer-details {
  width: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.offer-details button {
  /* margin-top: 54px; */
  width: 90px;
  height: 35px;
  border: none;
  -webkit-filter: drop-shadow(2px 4px 3px black);
  filter: drop-shadow(2px 4px 3px black);
}
.offer-details button:hover {
  background: black;
  color: #efefef;
  transform: scale(1.1);
}

.roomSuites {
  padding-top: 163px;
}

.roomSuites-heading h4 {
  font-size: 3em;
  font-weight: 300;
  font-family: serif;
}

.roomSuites-heading h2 {
  font-size: 6em;
  font-family: serif;
  font-weight: 600;
}

.roomCard {
  width: 1250px;
  margin: 0 auto;
  padding-top: 65px;
}

.roomCard-img {
  width: 50%;
}

.roomCard-details {
  width: 50%;
  padding-top: 16px;
  padding-left: 93px;
}

.roomCard-details h3 {
  font-size: 25px;
  font-weight: 200;
  line-height: 2;
}

.roomCard-details p {
  line-height: 2;
}

.roomCard-details ul {
  padding-bottom: 29px;
}

.roomCard-details .roomCard-smallinfo {
  font-size: 12px;
}

.roomCard-biginfo {
  text-align: justify;
}

.roomCard-details .roomCard-biginfo {
  padding-top: 70px;
}

.roomCard-details .roomCard-pricing {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.discover-section {
  height: 400px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.discover-section-right {
  width: 50%;
  flex-direction: column;
  align-items: center;
}

.discover-section-right p {
  border-radius: 7px;
  line-height: 1.87;
  background: #daddfc;
  width: 730px;
  padding-left: 22px;
}

.discover-section-right a button {
  margin-top: 33px;
  width: 168px;
  height: 39px;
  border: none;
  -webkit-filter: drop-shadow(2px 4px 3px black);
  filter: drop-shadow(2px 4px 3px black);
}

.discover-section-left {
  width: 50%;
}

.discover-section-left h2 {
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
}

.services {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.services-heading{
  font-family: serif;
  font-size: 6em;
  font-weight: 600;
}

.services-card {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 1300px;
  margin-top: 30px;
}

.services-card p {
  font-size: 14px;
}

.services-card-img {
  width: 123px;
  margin: 0 auto;
}

.m-lr {
  margin: 0 22px;
}

.location {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 150px;
  height: 400px;
}

.location h2 {
  font-size: 35px;
  font-family: serif;
  font-weight: 700;
  padding-bottom: 30px;
}

.googlemaps {
  justify-content: center;
  margin: 0 86px;
}
.googlemaps iframe {
  width: 100%;
}

.image-gallery {
  height: 600px;
  padding-top: 300px;
}

.image-gallery-headline {
  font-size: 38px;
  line-height: 2;
}

.image-collage {
  padding-top: 47px;
}

.collage-image {
  width: 375px;
}

.footer-container {
  margin-top: 600px;


}
@media (max-width: 900px) {
  body::before {
    content: "";
    background: url(../public/images/lodge/lodge.jpg) no-repeat center
      center/cover;
    position: absolute;
    -webkit-filter: saturate(1.7) brightness(0.9);
    filter: saturate(1.7) brightness(0.9);
    top: 39px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
  .homeSection-Container {
    background: none;
    color: white;
  }
  .homeSection-Container h1 {
    font-size: 2em;
    filter: drop-shadow(2px 4px 16px black);
    z-index: -1;
  }
  .homeSection-Container h3 {
    font-size: 1em;
    filter: drop-shadow(2px 4px 16px black);
    z-index: -1;
  }
  .homeSection-Container h5 {
    font-size: 3vw;
    filter: drop-shadow(2px 4px 16px black);
    z-index: -1;
  }
  .homeSection-Container button {
    z-index: -1;
  }



  .introAfterHome {
    padding-top: 250px;
  }
  .introAfterHome p {
    width: auto;
    margin: 0 26px;
  }

  .introAfterHome h2 {
    width: auto;
  }
  .introAfterHome button:hover{
    background: black;
    color: #efefef;
    transform: scale(1.1);
  }
  .row1,
  .row2 {
    margin: 0 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .offers {
    padding-top: 83px;
  }
  .offers .offer-card {
    width: auto;
  }

  #offer-img:hover {
    transform: scale(1.1);
  }
  .offer-details {
    width: auto;
    background: #daddfc;
  }
  .offer-details button {
    margin: 33px 0;
  }



  .mobsize {
    line-height: 3;
  }
  .discover-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 176px;
  }
  .discover-section .discover-section-left h2 {
    /* font-size: 5vw; */
    font-size: 6vw;
    font-family: serif;
  }
  .discover-section .discover-section-right {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .discover-section .discover-section-right p {
    width: auto;
    text-align: center;
    padding: 32px 46px;
    margin: 44px 35px 0 35px;
  }
  .roomSuites-heading h2 {
    font-size: 10vw;
    padding-bottom: 44px;
  }
  .roomSuites-heading h4{
    font-size: 2.5em;
  }
  .roomCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: auto;
    margin: 0 23px;
    border-radius: 7px;
    background: #daddfc;
  }
  .roomCard .roomCard-img {
    width: 100%;
  }
  .roomCard-details {
    width: 88%;
    padding-left: 26px;
  }
  .roomCard-details .roomCard-biginfo {
    text-align: inherit;
    font-family: fangsong;
  }
  .services {
    margin-top: 210px;
  }

  .services-heading{
    font-family: serif;
    font-size: 2.5em;
    font-weight: 600;
  }
  .m-lr {
    margin: 21px 22px;
  }
  .services-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  .m-lr h4 {
    font-family: serif;
  }
  .services-card p {
    font-size: 3.5vw;
    font-family: serif;
  }

  .location h2 {
    font-size: 4vw;
    font-family: serif;
    font-weight: 600;
    /* margin-bottom: 40px; */
  }

  .googlemaps  {
    margin: 0 7px;
  }

  .image-gallery {
    padding-top: 416px;
  }

  .footer-container {
    margin-top: 433px;
  }
}
